<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>社区服务平台</title>
<link rel="shortcut icon" href="__PUBLICAPP__/img/favicon.ico">
<link rel="stylesheet" href="__PUBLIC__/css/base.css" />
<link rel="stylesheet" href="__APPVIEW__/css/miso.css" />
</head>
<body class="style_orange" style="overflow:hidden;">
<div id="mod_index"></div>
<script src="__PUBLIC__/js/jquery-2.0.2.min.js"></script>
<script src="__PUBLIC__/js/baiduTemplate.min.js"></script>
<script src="__PUBLIC__/js/iscroll.min.js"></script>
<script src="__PUBLIC__/js/jquery.ba-hashchange-9.min.js"></script>

<script>
	$.ajax({
		url: 'http://localhost/git/bittys/index.php?r=default/hadsearch/index&keyword=%E9%B1%BC',
		headers: {'Accept': 'application/json'},
		success: function(data) {
			console.log(data);
		}
	});
</script>
</body>
</html>